In [1]:
import json

In [2]:
jstring  = """[ 
  {
    "country": "England",
    "timeline": {
      "cases": {
        "6/01/22": 182072,
        "6/02/22": 182149
      }
    }
  },
  {
    "country": "France",
    "timeline": {
      "cases": {
        "6/01/22": 278793,
        "6/02/22": 279077
      }
    }
  }
]"""

In [3]:
jstring

'[ \n  {\n    "country": "England",\n    "timeline": {\n      "cases": {\n        "6/01/22": 182072,\n        "6/02/22": 182149\n      }\n    }\n  },\n  {\n    "country": "France",\n    "timeline": {\n      "cases": {\n        "6/01/22": 278793,\n        "6/02/22": 279077\n      }\n    }\n  }\n]'

In [4]:
a = json.loads(jstring)

In [5]:
a

[{'country': 'England',
  'timeline': {'cases': {'6/01/22': 182072, '6/02/22': 182149}}},
 {'country': 'France',
  'timeline': {'cases': {'6/01/22': 278793, '6/02/22': 279077}}}]

In [6]:
type(a)

list

In [7]:
a[0].keys()

dict_keys(['country', 'timeline'])

In [8]:
a[0]

{'country': 'England',
 'timeline': {'cases': {'6/01/22': 182072, '6/02/22': 182149}}}

In [9]:
b = []

In [10]:
for i in a:
    b.extend(i['timeline']['cases'].keys())

In [11]:
b = list(set(b))

In [12]:
res = dict.fromkeys(b)

In [13]:
import copy
res = dict.fromkeys(b)
aa = copy.deepcopy(a)
for j in res.keys():
    res[j] = []
    for cnt, i in enumerate(aa):
        cond = j in aa[cnt]['timeline']['cases'].keys()
        if cond:
            c = dict({'country':i['country'],'cases':int(i['timeline']['cases'][j])})
            res[j].append(c)
            del aa[cnt]['timeline']['cases'][j]
        else:
            continue

In [14]:
res

{'6/01/22': [{'country': 'England', 'cases': 182072},
  {'country': 'France', 'cases': 278793}],
 '6/02/22': [{'country': 'England', 'cases': 182149},
  {'country': 'France', 'cases': 279077}]}

In [17]:
import pandas as pd

In [19]:
df = pd.read_json(jstring)

In [20]:
df

   country                                           timeline
0  England  {'cases': {'6/01/22': 182072, '6/02/22': 182149}}
1   France  {'cases': {'6/01/22': 278793, '6/02/22': 279077}}

In [27]:
b = []
for i in df['timeline']:
    b.extend(i['cases'].keys())

In [29]:
b = list(set(b))

In [70]:
res_df = pd.DataFrame(columns=['date', 'country_cases'])

In [71]:
res_df

Empty DataFrame
Columns: [date, country_cases]
Index: []

In [72]:
for j in b:
    entries = []
    for i, row in df.iterrows():
        d = {row['country']:row['timeline']['cases'][j]}
        entries.append(d)
    c = {'date':j,'country_cases':entries}
    res_df = res_df.append(c,ignore_index=True)

/tmp/ipykernel_240347/1647374214.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  res_df = res_df.append(c,ignore_index=True)
/tmp/ipykernel_240347/1647374214.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  res_df = res_df.append(c,ignore_index=True)

In [73]:
res_df

      date                              country_cases
0  6/01/22  [{'England': 182072}, {'France': 278793}]
1  6/02/22  [{'England': 182149}, {'France': 279077}]

In [83]:
pd.concat([res_df, pd.DataFrame([c])])

      date                              country_cases
0  6/01/22  [{'England': 182072}, {'France': 278793}]
1  6/02/22  [{'England': 182149}, {'France': 279077}]
0  6/02/22  [{'England': 182149}, {'France': 279077}]